<body>
  <div class="col-md-12 ">
    <h2 class="text-center">Liste voitures </h2>
  </div>
  <div class="container" fxLayout="row wrap" fxLayoutGap="30px" *ngIf="!userConnecter">
    <mat-card fxFlex="0 1 calc(20% - 20px)" *ngFor="let voiture of voitures" fxLayout="column">
      <mat-card-header>
        <mat-card-title>{{voiture.voiture.marque}}</mat-card-title>
        <mat-card-subtitle>{{voiture.voiture.matricule}}</mat-card-subtitle>
      </mat-card-header>
      <img class="image product" mat-card-image src="{{'assets/bootstrap/img/'+voiture.voiture.image}}" alt="not found">
      <mat-card-content fxFlex>
      </mat-card-content>
    </mat-card>
  </div>
  <p class="alert alert-success" *ngIf="!userConnecter ">Pour voir les commentaires ou commenter, veuillez-vous connecter!</p>
  <div class="containerWithComment" fxLayout="row wrap" fxLayoutGap="30px" *ngIf="userConnecter">
    <mat-card fxFlex="0 1 calc(20% - 20px)" *ngFor="let voiture of voitures" fxLayout="column">
      <mat-card-header class="styleHead">
        <mat-card-title>{{voiture.voiture.marque}}</mat-card-title>
        <mat-card-subtitle>{{voiture.voiture.matricule}}</mat-card-subtitle>
      </mat-card-header>
      <img class="image product" mat-card-image src="{{'assets/bootstrap/img/'+voiture.voiture.image}}" alt="not found">
      <mat-card-content fxFlex *ngFor="let commentaire of voiture.listCommentaire">
        <mat-card-subtitle>{{commentaire.commentaire}}</mat-card-subtitle>
      </mat-card-content>
      <form [formGroup] = "addCommentForm" (ngSubmit)="saveCommentaire(voiture.voiture.id);addCommentForm.reset()">
        <input type="hidden" name="idClient" formControlName="idClient">
        <input type="hidden" name="idVoiture" formControlName="idVoiture">
        <textarea  class="form-control" class="form-control" name = "commentaire" formControlName="commentaire"></textarea>
        <button mat-raised-button color="primary" class="commentButton" >Commenter</button>
      </form>
    </mat-card>
  </div>
</body>