.marge{
    margin-left:1100px;
}
.logi{
    margin-left: 1300px;
}

.fixed-header{
    position: fixed;
    padding: 0px;
    top:0;
}
.margi{
    margin-top: 200px;
}
.fixed-footer{
    width: 100%;
    position: fixed;        
    background: rgb(53, 76, 175);
    padding: 10px 0;
    color: #fff;
    text-align: center;
}
.fixed-header{
    top: 0;
}
.fixed-footer{
    bottom: 0;
}
.container{
    width: 80%;
    margin: 0 auto; /* Center the DIV horizontally */
}