
<mat-toolbar color="primary">
  <span>e-car</span>
  <div class="navbar-nav mr-auto"*ngIf="!currentHeader">
        <a routerLink ="login" (click) ="seLogin()"class="logi">Se Connecter</a>
  </div>
  <div class="navbar-nav mr-auto"  *ngIf="currentHeader">
  </div>
  <!-- <div class="navbar-nav mr-auto"  *ngIf="userConnecter && !currentHeader">
    <a routerLink ="logout" (click) ="seLogOut()"class="nav-link marge">Deconnecter</a>
  </div> -->
  <div class="navbar-nav mr-auto"  *ngIf="!userConnecter">
    <!-- <a routerLink ="login" (click) ="seLogin()"class="logi">Se Connecter</a> -->
  </div>
</mat-toolbar>
<div class="container mt-3">
    <router-outlet></router-outlet>
</div>
<main *ngIf="!currentHeader">
  <app-liste-voiture></app-liste-voiture>
</main>
<div class="fixed-footer">
  <p>@Copyright 2021 by Miarison Reymond</p>         
</div>